<!DOCTYPE html>
<html>
<head>
  <% provide(:title, 'Edit User') %>
</head>
<body>

<h1>Update your profile</h1>

<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">Change Gravatar Image</a>
    <br>
    <br>
    <%= bootstrap_form_for(@user, html: { multipart: true }) do |f| %>
      <span class = "picture">
        <%= f.file_field :picture, hide_label: true %>
      </span>
    <% end %>
  </div>
</div>
<br>

<%= bootstrap_form_for (@user) do |f| %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= f.text_field :name %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= f.email_field :email %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= f.password_field :password %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= f.password_field :password_confirmation, label: "Confirm Password" %>
 </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= f.submit "Save changes", class: "btn btn-primary" %>
  </div>
</div>
<% end %>

</body>
</html>