<% @page_title = "Books List" %>

<%= link_to("Home", {:controller => 'home', :action => 'index'}) %>


<h2>Books List</h2>

<font color="red"><strong>
<% if flash[:notice] %>
	<p align="center">
	  <%= flash[:notice] %>
	</p>
<% end %>
</strong></font>

<%= form_for(:book, :url => {:action => 'create'}) do |f| %>
	<%= render(:partial => "form", :locals => {:f => f}) %>
	<br />
<% end %>

<div class"book-table">
	<table style="width:80%" align="center" class="table table-hover">
		<thead>
			<tr>
				<th><%= link_to(sortable "position") %></th>
				<th><%= link_to(sortable "title") %></th>
				<th><%= link_to(sortable "author") %></th>
				<th class="text-center">Physical</th>
				<th class="text-center">E-Book</th>
				<th class="text-center">Read</th>
				<th colspan='2'>&nbsp;</th>
			</tr>
		</thead>
		<tbody>	
			<% @books.each do |book| %>
				<tr>
					<td><%= book.position %></td>
					<td><%= book.title %></td>
					<td><%= book.author %></td>
					<td class="text-center"><%= book.physical ? "\u2713" : "\u25A2" %></td>
					<td class="text-center"><%= book.ebook ? "\u2713" : "\u25A2" %></td>
					<td class="text-center"><%= book.read ?  "\u2713" : "\u25A2" %></td>
					<td class="text-center"><%= link_to("Edit", {:action => 'edit', :id => book.id}) %>
					<td class="text-center"><%= link_to("Delete", {:action => 'destroy', :id => book.id}) %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>


