<% provide(:title, "Books List") %>

<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %> Books List</title>
</head>
<body>

<%= link_to("Home", {:controller => 'home', :action => 'index'}) %>

<h2>Books List</h2>

<font color="red"><strong>
<% if flash[:notice] %>
	<p align="center">
	  <%= flash[:notice] %>
	</p>
<% end %>
</strong></font>

<div align="center">
		<a href='#' id="show_create_book_form">Add a New Book</a>
</div>

<div align="center">
	<p><%= link_to('Show All Books', {:controller => 'books', :action => 'index'}) %><br /></p>
	<%= form_for(:search, :url => {:action => 'search'}) do |f| %>
		<%= f.text_field(:query) %>
		<button type="submit" class= "btn btn-default btn-xs">
			Search
		</button>
	<% end %>	
</div>
<br />

<div align="center">
<%= form_for(:filter, :url => {:action => 'filter'}) do |f| %>
	<table style="width:20%" align="center" class="table table-condensed">
		<thead>
			<tr>
				<th class="text-center">Physical</th>
				<th class="text-center">E-Book</th>
				<th class="text-center">Read</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="text-center"><%= f.check_box(:physical, {}, 'physical', '') %></td>
				<td class="text-center"><%= f.check_box(:ebook, {}, 'ebook', '') %></td>
				<td class="text-center"><%= f.check_box(:read, {}, 'read', '') %></td>
				<td>
					<button type="submit" class= "btn btn-default btn-xs">
						Filter
					</button>
				</td>
			</tr>
		</tbody>
<% end %>
		
<div id="selected-book-details" style="display:none;">
	<p></p>
</div>



<div class"book-table">
	<table style="width:100%" align="center" class="table table-hover" id="book-table">
		<thead>
			<tr>
				<th id="worded-column"><%= link_to(sortable "title") %></th>
				<th id="worded-column"><%= link_to(sortable "author") %></th>
				<th id="worded-column"><%= link_to(sortable "pages") %></th>
				<th id="worded-column"><%= link_to(sortable "start date") %></th>
				<th id="worded-column"><%= link_to(sortable "end date") %></th>								
				<th id="check-box-column" class="text-center">Physical</th>
				<th id="check-box-column" class="text-center">E-Book</th>
				<th id="check-box-column" class="text-center">Read</th>
				<th colspan='2'>&nbsp;</th>
			</tr>
		</thead>
		<tbody>

			<%= form_for(:book, :url => {:action => 'create'}) do |f| %>
				<tr id="hidden" class="warning" style="display:none;">
					<td id="worded-column">
						<%= f.text_field(:title) %>
					</td>
					<td id="worded-column"> 
						<%= f.text_field(:author) %>
					</td>
					<td id="worded-column"> 
						<%= f.text_field(:pages) %>
					</td>
					<td id="worded-column">
						<div onclick="book_start_date()">
							<%= f.text_field(:start_date) %>
						</div>
					</td>
					<td id="worded-column">
						<div onclick="book_end_date()">
								<%= f.text_field(:end_date) %>						
						</div>	
					</td>
					<td id='new-book-check-boxes'>
						<%= f.check_box(:physical) %>
					</td>
					<td id='new-book-check-boxes'>
						<%= f.check_box(:ebook) %>
					</td>
					<td id='new-book-check-boxes'>
						<%= f.check_box(:read) %>
					</td>
					<td colspan="2" id='check-box-column'>
							<button type="submit" class= "btn btn-default btn-xs"> 
									Add Book
							</button>
					</td>
				</tr>
			<% end %>	

			<% @books.each do |book| %>
				<tr class="clickable-row">
					<td id="worded-column"><%= book.title %></td>
					<td id="worded-column"><%= book.author %></td>
					<td id="worded-column"><%= book.pages %></td>
					<td id="worded-column"><%= book.start_date.strftime("%e %B, %Y") if book.start_date? %></td>
					<td id="worded-column"><%= book.end_date.strftime("%e %B, %Y") if book.end_date? %></td>
					<td id="check-box-column"><%= book.physical ? "\u2713" : "\u25A2" %></td>
					<td id="check-box-column"><%= book.ebook ? "\u2713" : "\u25A2" %></td>
					<td id="check-box-column"><%= book.read ?  "\u2713" : "\u25A2" %></td>
					<td id="check-box-column"><%= link_to("Edit", {:action => 'edit', :id => book.id}) %>
					<td id="check-box-column"><%= link_to("Delete", {:action => 'destroy', :id => book.id, :class => 'btn btn-mini btn-danger' } ) %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

</body>
</html>
